body {
    background: url("./images/undraw_coding_6mjf.svg");
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-size: 55rem;
}

.app {
    background: url("./images/undraw_coding_6mjf.svg");
    background-size: contain;
}